# Directories
node_modules
dist
build
generated
app-web
app-backend
.docs
.agents


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment files
.env*
!.env.example
.venv/
temp
__pycache__/
*.pyc
web