@use 'vuetify/settings' with (
  $body-font-family: 'Roboto',
  $border-radius-root: 6px,

  $color-pack: false,
  $primary: #1867c0,
  $secondary: #5cbbf6,
  $error: #ff5252,

  $btn-font-weight: 500,
  $card-border-radius: 12px
);
